*{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

h4{
  font-weight: normal;
}

label{
  margin: 10px 10px 10px 5vw;
  line-height: 20px;
}

input{
  margin-bottom: 10px;
}

.player{
  width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  margin: 10px 5vw 10px 5vw;
  padding: 5px;
}